# macOS
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
build/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build/

# CocoaPods
Pods/

# Carthage
Carthage/
